@font-face {
  font-family: "Ghastly Panic";
  src: url("../fonts/Ghastly Panic.ttf");
}

body {
	/* General Styling */
	background-image: url("../img/ANTI_FLEA_BACKGROUND.png");
	background-repeat: no-repeat;
	background-size: 100vw;
	background-position: center;
	
	/* Text */
	text-align: center;
}

th {
	font-family: "Ghastly Panic";
	font-size: 1.5em;
	letter-spacing: 10px;
}

table {
	width: 100%;
	text-align: center;
}

th {
	width: 50%;
	color: #d10d0d;
	font-weight: 900;
}

td {
	font-size: 1.25em;
}

#weblinks {
	display: flex;
	justify-content: space-between;
	padding-top: 0;
	padding-bottom: 0;
}
