@font-face {
  font-family: "Ghastly Panic";
  src: url("../fonts/Ghastly Panic.ttf");
}

body {
	/* General Styling */
	background-color: #240303;
	background-image: url("../img/ANTI_FLEA_BACKGROUND.png");
	background-repeat: no-repeat;
	background-size: 100vw;
	background-position: center;
	
	/* Text */
	color: #ffffff;
	font-size: 1em;
	font-family: "Courier New";
}

h1, h2 {
	font-family: "Ghastly Panic";
	font-size: 1.5em;
	letter-spacing: 10px;
}

h2 {
	padding: 0;
	font-size: 3.5em;
	color: #d10d0d;
}

section {
	background-color: #121212;
	margin: -16px 100px -8px;	
	padding: 35px 65px;
	text-align: center;
}

#navbar {
	background-color: #2b0606;
	width: calc(vw + 7px);
	position: sticky;
	margin: -8px;
	top: 0;
	
}

a {
	background-image: url("../img/UNSQUASHED_FLEA_icomn.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 75px 0;
	
	/* Text */
	color: #d10d0d;
	text-decoration: none;
	font-family: "Ghastly Panic";
	text-align: center;
	font-size: 3em;
	font-weight: 900;
	letter-spacing: 10px;
	text-transform: uppercase;
}

a:hover {
	/*background-color: #0d0101;
	box-shadow: 0 3px 0 #ffffff;*/

	/* Text */
	text-decoration: none;
	text-shadow:
		-0.5px -0.5px 0 #ffffff,  
		0.5px -0.5px 0 #ffffff,
		-0.5px 0.5px 0 #ffffff,
		0.5px 0.5px 0 #ffffff;
}

a:not(#clickhere, #home):hover {
	background-image: url("../img/SQUASHED_FLEE_icomn.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

table img {
	border-radius: 10px 50px;
}

td {
	width: calc(100% / 3);
	padding: 15px;
	vertical-align: top;
}

#home {
	background-image: url("../img/FIGHT_FLEAS_logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 75px 0;
}

#top {
	margin-top: 35px;
	border-radius: 30px 30px 0 0;
}

#return {
	display: flex;
	justify-content: space-around;
}